.navbar-default .navbar-nav > li > a
{
    font-weight: bold!important; 
}
.inner-header-agile
{
    background:rgba(0,0,0,0)!important;
}

.header-li-a
{
	text-decoration:none!important;
}
.top_user_name{
}
.user_profile_li{
    margin-right: 0px!important;
}

/*login modal start here*/
.modalButton
{
	color: #FFFFFF;
    padding: .8em 1em;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    border-radius: 25px;
    background: #e00681;
    width: 100%;
    letter-spacing: 3px;
    -webkit-transition: 0.5s all;
}
.errorMessage
{
	color: #f5812e!important;
	display: none;
}
.no-account
{
	cursor: pointer;
    margin-top: 10px;
}
.create-account
{
	color: #E00681;
	cursor: pointer;
}
/*login modal end here*/

.forSpace
{
    padding: 1em 0;
}
textarea
{
    resize: none;
}
.dropdown-menu > li > a
{
    line-height: 2;
    font-size: 16px;
}
/*login form start here*/
.custom_signup_feild
{
    width: 99%;
    color: #555;
    outline: none;
    font-size: 0.9em;
    padding: .6em 1em;
    border: 1px solid #ddd;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -moz-appearance:none;
}
.signInBtn{
    border: none;
    padding: 0.8em 2em;
    margin-top: 0.5em;
    font-size: 18px;
    color: #fff;
    outline: none;
    background: #f5812e;
    -webkit-transition: 0.5s all ease;
    }
    .login-box
    {
        margin-top: 30px!important;
    }
    .ancor-textDeco
    {
        text-decoration: none!important;
    }

/*login form end here*/
.example-image-link>img
{
    height: 250px!important;
    width: 350px!important;
}
.cf
{
     -moz-appearance: none;
    border: 1px solid #ddd!important;
    color: #555!important;
    font-size: 0.9em!important;
    letter-spacing: 1px!important;
    line-height: 1.8em!important;
    margin-bottom: 1.5em!important;
    outline: medium none!important;
    padding: 0.6em 1em!important;
    width: 99%!important;
}
/*header 2 start here*/
.header2-logo{
    width: 80px;
}
.cartbtn {
    border: medium none;
    letter-spacing: 1.5px;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 300px;
    width: 180px;
    z-index: 999999;
}
/*header 2 end here*/
.user_profile_img {
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

/*myaccount start here*/
.myaccount-main-box{
    margin-top: 40px;
    margin-bottom: 20px;
}
.custom_button{
    background: #f5812e none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 0.5em;
    outline: medium none;
    padding: 0.8em 2em;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.custom_feild{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    color: #555;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin-bottom: 1.5em;
    outline: medium none;
    padding: 0.6em 1em;
    width: 99%;
}
/*myaccount end here*/

.sb-icon-search{
    background: #E00681 url(../images/cart.png) no-repeat scroll 7px 9px;
    border-radius: 50px;
    z-index: 90;
    cursor: pointer;
    display: block;
    height: 41px;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    width: 42px;
}
.bagde {
    background: #F6921E none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    font-family: fantasy;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-left: 6px;
    margin-top: -8px;
    position: absolute;
    text-align: center;
    width: 24px;
}


.modal-content.custom_model {
    float: left;
    margin: 0;
    padding: 12px 0;
    width: 100%;
}
.cart_modalbtn
{
    background: #e00681 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 3px;
    outline: medium none;
    padding: 0.6em 0.8em;
    transition: all 0.5s ease 0s;

}
.custom-hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.loader {
    background: #fff none repeat scroll 0 0;
    height: 900px;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: none;
}
.loaderimg {
    background-attachment: fixed;
    height: 50px;
    margin-left: 49%;
    margin-top: 20%;
    width: 50px;
}