
.side_imge {
    width: 60px;
    border-radius: 14px;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.lg-clr {
    color: rgb(192, 160, 98);
}

.manq {
    /*margin-left: 78px;margin-top: -25px;*/
}

.duzi {
    color: #32a1ce !important;
}

.lft_hd {
    margin-top: 25px;
    font-size: 27px;
    /* font-style: unset; */
    font-weight: bold;
}

#scroltop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #99adb1;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    height: 38px;
}

#scroltop:hover {
    background-color: #555;
}

#nav_menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul a {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding: 25px 14px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s 0s ease;
}

#nav_menu ul li {
    float: left;
    padding: 0;
    position: relative;
}

#nav_menu ul li a:hover {
    transition: all 0.4s 0s ease;
    background: rgb(234, 234, 234);
}

#nav_menu ul ul {
    background: none 0 0 repeat scroll #1d1b1b;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 9999;
    padding: 10px;
}

#nav_menu ul ul li {
    float: none;
    width: 160px;
}

#nav_menu ul ul a {
    line-height: 120%;
    padding: 10px 29px;
}

#nav_menu ul ul li a:hover {
    transition: all 0.4s 0s ease;
    background: #333333;
}

#nav_menu ul ul ul {
    top: 0;
    left: 100%;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu ul li a i {
    margin-left: 6px;
}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #dcdcdc;
    background-size: 17px 15px;
    border: 0 none;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #d7d7d7;
    width: 230px;
    padding: 10px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    background-size: 17px 15px;
    color: #6a6f75;
    width: 260px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* .container { */
/* padding-right: 0px !important; */
/* } */
.product-bottom {
    padding-top: 6em;
}

.mid-popular {
    padding-top: 10em;
}

section.sky-form {
    border-top: 1px solid #E9E9E9;
    padding-top: 1em;
}

.sky-form .checkbox:last-child {
    margin-bottom: 0;
}

.sky-form .radio input, .sky-form .checkbox input {
    position: absolute;
    left: 20px;
}

.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i {
    border-color: #B3B3B3;
}

.sky-form .radio, .sky-form .checkbox {
    outline: none;
    border: none;
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
    margin-top: 0;
    text-decoration: none;
}

.sky-form .radio i, .sky-form .checkbox i {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 13px;
    height: 13px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    background: #fff;
}

.row1 {
    outline: none;
    overflow: auto;
    height: 162px;
    margin: 1em 0;
}

a {
    text-decoration: none !important;
    color: #666666 !important;
}

.sky-form .checkbox input + i:after {
    content: '';
    top: -1px;
    left: -5px;
    width: 15px;
    height: 15px;
    background: url(../images/b-arrow.png);
    text-align: center;
}

.sky-form .radio input + i:after, .sky-form .checkbox input + i:after {
    position: absolute;
    opacity: 0;
}

.single {
    padding: 10em 0 0 !important;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    margin-left: 80px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* .container { */
/* margin-left: 10px; */
/* padding: 16px; */
/* } */

span.psw {

    padding-top: 16px;
}

/* The Modal (background) */
/*.modal {
    display: none; !* Hidden by default *!
    position: fixed; !* Stay in place *!
    z-index: 1; !* Sit on top *!
    left: 0;
    top: 0;
    width: 100%; !* Full width *!
    height: 100%; !* Full height *!
    overflow: auto; !* Enable scroll if needed *!
    background-color: rgb(0, 0, 0); !* Fallback color *!
    background-color: rgba(0, 0, 0, 0.4); !* Black w/ opacity *!
    padding-top: 60px;
}

!* Modal Content/Box *!
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; !* 5% from the top, 15% from the bottom and centered *!
    border: 1px solid #888;
    width: 28%; !* Could be more or less, depending on screen size *!
}

!* The Close Button (x) *!
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}*/

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.sky-form .radio, .sky-form .checkbox {
    padding-left: 45px !important;
}

.split-navi-container {
    border: 1px solid #e9edec;
    background-color: #fff;
    margin-bottom: 50px;
}

.image-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    transition: all .2s ease-in-out;
}

.split-navi-imageContainer {
    width: 100%;
    display: block;
    position: relative;
}

.column-base {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.split-navi-list {
    padding-left: 25px;
}

.split-navi-listHeading {
    font-size: 18px;
    font-weight: 500;
    color: #3e4152;
    line-height: 0;
    padding-top: 25px;
    padding-bottom: 0;
}

.text-banner-subtitle {
    margin-top: 0;
    font-weight: 400;
    line-height: 1em;
    max-height: 3em;
    color: #7e818c;
    margin-bottom: 50px;
}

.split-navi-listSubHeading {
    margin-top: 20px;
    line-height: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 12px;
    color: #7e818c;
    padding-bottom: 10px;
}

.navi-noStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navi-base:first-child {
    border-bottom: 1px solid #e9edec !important;
}

.navi-base:last-child {
    border: none;
}

.navi-base {
    border-bottom: 1px solid #e9edec;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navi-link {
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: #3e4152 !important;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none !important;
}

.navi-arrow {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 11px;
    zoom: 1.3;
}

ul {
    list-style: none;
}

.navi-pad {
    padding-right: 33px;
}

.swatch.brown {
    background-color: #6f4529 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.red {
    background-color: #bc001d !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.blue {
    background-color: #5b85cc !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.green {
    background-color: #197024 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.black {
    background-color: #333 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.white {
    background-color: white !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 1px !important;
}

.swatch.offwhite {
    background-color: #fffded !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.pink {
    background-color: #ffcbe0 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.apricot {
    background-color: #fccaae !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.purple {
    background-color: #804370 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.grey {
    background-color: #a4a4a4 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.beige {
    background-color: #c6c0b2 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.yellow {
    background-color: #f8ff85 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.turquoise {
    background-color: #8be0df !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.orange {
    background-color: #ffbc4c !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.wine {
    background-color: #701b2c !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.khaki {
    background-color: #c1b17e !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.ivory {
    background-color: #fffff0 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}

.swatch.navy {
    background-color: #000080 !important;
    border-radius: 20px;
    width: 17px !important;
    height: 17px !important;
    margin-left: 28px;
    top: 16px !important;
    border-width: 0px !important;
}