
html, body{
    font-size: 100%;
font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin:0px!important;
}
p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Open Sans', sans-serif;
   margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body p{
	font-family: 'Open Sans', sans-serif;
		    letter-spacing: 1px;
}
body a:hover{
	text-decoration:none;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
input[type="submit"],.w3l_header_left ul li a,.related-post-right h4 a,.comments-grid-right h4 a,.reply a,.w3_single_grid_left_grid ul li a,ul.contact_info li a,.w3ls_services_bottom_grid_grid_pos,.footer-copy p a,.w3l_services_grid h4 a,.agileinfo_footer_grid ul li a,.wthree_service_breadcrumb_left ul li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*--/model--*/
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 1em;
    border-bottom: 0px solid #e5e5e5;
}
.login-form input[type="email"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #212121;
    border: 1px solid #999;
    letter-spacing: 1px;
    text-align: center;
}
.login-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background: #02a388;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
    border-radius:50px;
}
.login-form input[type="submit"]:hover{
	 background:#0c0d0d;

}
.modal-header h4 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
	color:#0c0d0d;
}
.modal-dialog {
    width: 600px;
    margin: 96px auto;
}

/*--//model--*/
/*--header-w3-agileits --*/


.inner-header-agile {
    padding: 0 5em;
    position: relative;
    background: rgba(17, 17, 17, 0.6);
}
.inner-header-agile.part2 {
    position: relative;
    padding-bottom:1em;
}
/*-- logo --*/
.navbar-header h1 {
    font-size: 2em;
    display: block;
    text-transform: uppercase;
}
.navbar-header h1 a {
      color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    line-height: 80px;
    font-weight: bold;
    padding-bottom: 24px;
}
h1 span {
    color: #e00681;
    font-size: 1.8em;
}
/*-- //logo --*/
/*-- top-nav --*/
ul.nav.navbar-nav {
    margin-top: 50px;
    float: right;
}
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
    background: #e00681;
}
.navbar-nav > li {
      margin: 0 0.8em;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 10%;
}
.navbar-default .navbar-nav > li > a {
	font-size: 0.9em;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
	color:#fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #fe423f;
	background:none!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background:#e00681!important;
}
.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   color: #fff;
    background:#e00681!important;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
ul.nav.navbar-nav li.active {
    border-right: none;
}
ul.dropdown-menu.multi-column ul li{
    display:block;
	margin-bottom:.5em;
}
ul.dropdown-menu.multi-column ul li a{
	color:#212121;
}
ul.dropdown-menu.multi-column {
    width: 400px;
    left: 0;
    padding: 1em;
}
ul.dropdown-menu.multi-column ul li a:hover{
	color: #fe423f;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
}
.dropdown-menu {
	border-radius:0;
}
.navbar-nav > li > a {
      padding: 9px 15px!important;
}
p.s-log {
       color: #fff;
    line-height: 1px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: -11px;
    font-size: 0.3em;
}
/*-- //nav --*/
/*-- search --*/
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
/*-- w3layouts --*/
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}
.cd-header-buttons {
       position: absolute;
    display: inline-block;
    top: -72px;
    right: 0;
}
.cd-header-buttons li {
	display: inline-block;
}
.cd-search-trigger, .cd-nav-trigger {
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	z-index: 3;
	    background: #e00681;
}

.cd-search-trigger::before, .cd-search-trigger::after {
	/* search icon */
	content: '';
	position: absolute;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-search-trigger::before {
	top: 11px;
	left: 11px;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
/*-- agileits --*/
	border:3px solid #fff;
}
.cd-search-trigger::after {
	/* handle */
	height: 3px;
	width: 8px;
	background: #fff;
	bottom: 14px;
	right: 11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span {
	/* container for the X icon */
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
	/* close icon */
	content: '';
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 22px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -11px;
	background:#fff;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
	/* hide search icon */
	-moz-opacity: 0;
	opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
	/* show close icon */
	-moz-opacity: 1;
	opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 1px 0 #e00681, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 #02a388, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #e00681, 0 3px 6px 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.2em;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 1px;
}
.cd-search input::-webkit-input-placeholder {
	color: #fff !important;
}
.cd-search input::-moz-placeholder {
	color: #fff !important;
}
.cd-search input:-moz-placeholder {
	color: #fff !important;
}
.cd-search input:-ms-input-placeholder {
	color: #fff !important;
}
.cd-search input:focus {
	outline: none;
}
.cd-search.is-visible {
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

/*--//header-w3-agileits --*/
/*-- /banner --*/
.baner-info{
   padding-top: 15em;
   margin: 0 auto;
   text-align: center;
}
.baner-info h3 {
       text-align: center;
    font-size: 3.5em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 4px;
}
.baner-info h3 span {
	color:#e00681;
}
.baner-info h4{
        text-align: center;
    font-size: 1em;
    color: #fff;
    margin: 2em 0 4em 0;
    font-weight: 300;
    letter-spacing: 10px;
}
span.simply-word {
    font-size:18px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: uppercase;
    color: #02a388;
}
.baner-info span img {
    margin: 1em auto 0;
    text-align: center;
}
a.w3_play_icon1 {
	    border: none;
    outline: none;
    background: #e00681;
    padding: 0.7em 1.5em 0.7em 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
}
a.w3_play_icon1:hover {
	text-decoration:none;
	    background:#e00681;
}
.baner-w3l-agile-grids-bottom {
       margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 12%;
    bottom: -62%;
    width: 80%;
}
.w3l-b-grid{
	float:left;
	width:32%;
}
.w3l-b-one{
      background: #000 url(../images/b1.jpg) no-repeat 0px 0px;
    min-height:100px;
    background-size: cover;
    text-align: center;
	    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
	}
	.w3l-b-grid .w3l-b-one:hover{
		  min-height:200px;
	}
	
/*-- //banner --*/
/*-- special --*/
.special,#news,.w3_content_agilleinfo_inner,.team-section,.plans-section{
    padding: 5em 0;
}
#news {
    background: #f5f5f5;
}
h3.tittle,h2.w3l-inner-h-title,h3.w3l-inner-h-title{
      color: #f5812e;
    font-size:2.5em;
    margin: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}
h2.tittle{
	  color: #f5812e;
    font-size:2.5em;
    margin: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}
h2.w3l-inner-h-title,h3.w3l-inner-h-title{
	margin-bottom:1em;
}
h3.tittle.two {
    color: #fff;
}
.special-grids {
    margin: 3em 0 0 0;
}
.w3l-special-grid {
    padding: 0;
}
.w3ls-special-img {
    padding: 0;
    background:#000 url(../images/web/shutterstock_579971776.jpg) no-repeat 0px 0px;
    min-height: 235px;
    background-size: cover;
    text-align: center;
    position: relative;
}
.w3ls-special-img img{
	width:100%;
}
.agileits-special-info{
    text-align: center;
          padding: 3.9em 1.3em;
    background: #F5F5F5;
}
.agileits-special-info h4{
   color: #e00681;
    font-size: 2em;
    margin: 00 0 0;
    position: relative;
    letter-spacing: 3px;
}
.agileits-special-info h4:after{
    content: '';
    background: #e00681;
    width: 30%;
    padding: 1px;
    position: absolute;
    top: 36px;
    left: 53px;
}
.agileits-special-info p{
    color: #555;
    font-size:0.9em;
    line-height:2em;
    margin: 1.5em 0 0 0;
}
.wthree-img1{
    background:#000 url(../images/web/shutterstock_290399939.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.wthree-img2{
    background:#000 url(../images/web/shutterstock_572259820.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.wthree-img3{
       background:#000 url(../images/web/shutterstock_674442481.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.wthree-img4{
       background:#000 url(../images/web/shutterstock_579971776.jpg) no-repeat 0px 0px;
    background-size: cover;	
}
.w3ls-special-text h4 {
    color: #FFF;
    font-size: 1.8em;
    margin: 3.5em 0 0 0;
    font-weight: 300;
    letter-spacing: 7px;
}
/*-- Effect 1--*/
.w3ls-special-text:after {
    pointer-events: none;
    position: absolute;
    width: 235px;
    height: 186px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.effect-1 {
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
}
.effect-1:after {
    top: 25px;
    left: 25px;
    box-shadow: 0 0 0 2px #FFFFFF;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.5s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
}
.w3ls-special-img:hover.w3ls-special-text{
	background:#FF7200;
	color: #fff !important;
}
.w3ls-special-img:hover .w3ls-special-text:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/*--//Effect 1--*/
/*-- //special --*/
.ab-w3l-spa {
    text-align: center;
}
.ab-w3l-spa p {
    color: #555;
    line-height: 2.2em;
    margin: 1.5em auto 2.2em;
    width: 86%;
}

a.read {
    border: none;
    outline: none;
    background: #e00681;
    padding: 0.7em 1.5em 0.7em 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
}
a.read:hover {
    text-decoration: none;
    background: #e00681;
}
.spa-agile i {
    font-size: 3em;
    color: #333;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.spa-agile h4 {
    font-size: 1.3em;
    margin: 1em 0 0.5em 0;
       color: #e00681;
    letter-spacing: 3px;
}
.spa-agile {
    text-align: center;
    margin: 4em auto;
}
.spa-grid {
    border-right: 1px solid #999;
}
.spa-grid:nth-child(5) {
	 border:none;
}
h3.tittle.fea {
    font-size: 2em;
       color: #e00681;
    margin-bottom: 2em;
}
.featured,.team-section {
    background: #f5f5f5;
}
.spa-grid:hover i {
        color: #f5812e;
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg);
}
.team-row {
       margin-top: 3em;
}
.side-bar-form input[type="search"] {
    background: #fff;
    width: 81%;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1px;
    border: 1px solid #e4e3ea;
}
.side-bar-form input[type="submit"] {
    background: url(../images/search.png) no-repeat 9px 9px #e00681;
    width: 44px;
    height: 41px;
    border: none;
    outline: none;
    margin: 0 0 0 -4px;
    padding: 0;
}
.wom-right h5 a {
    color: #f5812e;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.agile-info-recent {
    margin: 1.3em 0;
}
ul.w3l-sider-list li i {
    display: inline-block;
    color: #0c0d0d;
    font-size: .9em;
    margin-right: 10px;
}
ul.w3l-sider-list li {
    display: inline-block;
    color: #666;
    font-size: .9em;
    margin-right: 18px;
}
.wom {
    float: left;
    width: 25%;
   
}
.wom-right {
    float: right;
    width: 70%;
}
.w3l-recent-grid {
    margin: 1em 0;
}
h4.side-t-w3l-agile {
    color: #0c0d0d;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0em 0 0.7em 0;
}
/*-- /welcome --*/
.welcome-section-wthree {
  background: url(../images/web/shutterstock_447961675_black.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 450px;
    padding-top: 4em;
}
.welcome-agileinfo {
    text-align: center;
    padding-top: 2em;
}
.welcome-agileinfo p {
    text-align: center;
    margin: 0.5em auto 0;
	color:#fff;
	line-height:2em;
	}
.welcome-grid {
    margin-top: 3em;
}
.welcome-agileinfo span.glyphicon {
       font-size: 3em;
    color: #e00681;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.welcome-agileinfo h4 {
   font-size: 1.3em;
    margin: 1em 0 0.5em 0;
    color: #f5812e;
    letter-spacing: 3px;
    font-weight: 300;
}
.welcome-grid:hover span.glyphicon {
      color: #fff; 
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	-o-transform: rotatey(180deg);
	-ms-transform: rotatey(180deg);
    transform: rotatey(180deg);
}
/*-- //welcome --*/
/*--services-section--*/
.para-w3 {
    color: #555;
    font-size: 15px;
    line-height: 35px;
    margin-top: 11px;
}
.services-info-w3-agileits {
    position: relative;
    padding: 41px 36px 35px 33px;
       background: #fff;
}
.services-info-w3-agileits:after {
   
content: "";
    position: absolute;
    left: 182px;
    top: 227px;
    width: 25px;
    height: 25px;
    background:#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.services-info-w3-agileits.mid:after {
       content: "";
    position: absolute;
    left: 175px;
    top: -10px;
    width: 25px;
    height: 25px;
    background:#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.services {
    padding: 100px 0px 100px;
}
.services-img-agileits-w3layouts img {
    width: 100%;
}
.section-grid-wthree {
    padding: 0 7px;
}
h5.sub-title {
       font-size: 21px;
    color: #e00681;
    font-weight: 600;
}
h5.sub-title a {
    color: #111;
}
.services-info-w3-agileits h6 {
    font-size: 0.9em;
    color: #f5812e;
    margin-top: 1em;
}
.services-info-w3-agileits h6 a {
	    color: #e00681;
}
.news-grids {
    margin-top: 3em;
}

/*--//services-section--*/
/*-- /short-codes --*/
.w3_breadcrumb {
       background: #e00681;
    text-align: center;
    padding: 0.8em 0;
}
.breadcrumb-inner ul li {
       list-style: none;
    display: inline-block;
    color: #fff;
    letter-spacing: 2px;
}
.breadcrumb-inner ul li  a{
   color: #111;
}
.typo-1 {
    padding: 16px;
}

.grid_3 {
    background-color: #fff;
    padding: 1.8em;
    margin-bottom: 1em;
    border: 1px solid #ebeff6;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
h3.head-top{
    font-size: 28px;
    margin-bottom: 15px;
        color: #fe423f;
}
.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
}
.but_list h1,.but_list h2,.but_list h3,.but_list h4,.but_list h5,.but_list h6{
margin-bottom: 0.7em;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px !important;
    font-size: 0.85em;
    color: #999;
    border-top: none !important;
}
.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
}
.btn-default:active, .btn-default:focus, .btn-default:hover {
    outline: none !important;
}
.form-control1, .form-control_2.input-sm{
  border: 1px solid #e0e0e0;
  padding:5px 18px;
  color: #616161;
  background: #fff;
  box-shadow: none !important;
  width: 100%;
  font-size: 0.85em;
  font-weight: 300;
  height: 40px;
  border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  -webkit-appearance: none;
  outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.btn-warning {
  color: #fff;
  background-color:rgb(6, 217, 149);
  border-color:rgb(6, 217, 149);
  padding:8.5px 12px;
}
.tag_01{
  margin-right:5px;
}
.tag_02{
  margin-right:3px;
}
.btn-warning:hover{
  background-color:rgb(3, 197, 135);
  border-color:rgb(3, 197, 135);
}
.btn-success:hover{
    border-color: #8BC34A !important;
    background: #8BC34A !important;
}
.control2{
  height:253px;
}
.alert-info {
  color: #31708f;
  background-color:rgb(240, 253, 249);
  border-color:rgb(201, 247, 232);
}
.bs-example4 {
  background: #fff;
  padding: 2em;
}
button.note-color-btn {
  width: 20px !important;
  height: 20px !important;
  border: none !important;
}
.form-control1:focus {
  border: 1px solid #03a9f4;
  background: #fff;
  box-shadow: none;
}
.show-grid [class^=col-] {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, .widget_head{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
label {
    font-weight: 500;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
/*-- //short-codes --*/
/*-- icons page --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
   background: rgba(111, 141, 175, 0.11);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff;
}
.icon-box:hover a.agile-icon {
	color:#fff;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 26px;
       color: #fe423f!important;
    font-weight: 300;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
        text-align: center;
    font-size: 30px;
    color: #111;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px;
    font-size: 20px;
    color: #282a2b;
}
.icons-page .bs-glyphicons li {
    display: inline-block;
    width: 22%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(40, 96, 157, 0.11);
    margin: 1%;
}
.icons-page .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons-page .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons-page .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.bs-example.bs-example-tabs {
    padding: 0 3em;
}
/*-- //icons page --*/
/*-- /contact --*/
.w3_agile_mail_grid input[type="text"],.w3_agile_mail_grid input[type="email"] {
       border: 1px solid #e4e4e4;
    outline: none;
    -webkit-appearance: none;
    background: none;
	  font-size:15px;
  letter-spacing:1px;
  color:#555;
   width: 100%;
      background: #f5f5f5;
   padding:1em 1em;
}
.w3_agile_mail_grid input[type="email"] {
	margin:1.2em 0;
}
.w3_agile_mail_grid textarea {
    outline: none;
    width: 100%;
    background: #f5f5f5;
    padding:1em 1em;
  font-size:15px;
  letter-spacing:1px;
  color:#555;
    border: 1px solid #e4e4e4;
       min-height: 196px;
     font-weight:400;
}
.w3_agile_mail_grid textarea::-webkit-input-placeholder,.w3_agile_mail_grid input[type="text"]::-webkit-input-placeholder,.w3_agile_mail_grid input[type="email"]::-webkit-input-placeholder  {
	color: #555 !important;
}
.w3_agile_mail_grid input[type="submit"] {
    border: none;
    padding: 0.8em 2em;
    margin-top: 0.5em;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background: #f5812e;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.w3l_contact_bottom{
	    background: #000;
         padding:4em 0 4em 0;
}
.w3l_contact_grid {
    margin: 0 auto;
    text-align: center;
}
.w3ls_footer_grids p.agileits_w3layouts_est{
	color:#fff;
	line-height:2em;
	margin:2em auto 5em;
	width:65%;
	text-align:center;
}
.con-ions-left {
    background: #2e2e2e;
    float: left;
    width: 31%;
    margin: 0 10px;
    padding: 30px 20px;
}
.con-ions-left-w3l{
	float:left;
	width:55px;
	height:55px;
	border-radius:50px;
	text-align:center;
	    background: #e00681;
}
.con-ions-left-w3l i{
	color: #fff;
    font-size: 1em;
    line-height: 3.4em;
}
.con-grid-w3l-leftr{
    float: right;
    width: 80%;
    text-align: left;
}
.con-grid-w3l-leftr h4{
	font-size: 1.2em;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: .5em;
}
.con-grid-w3l-leftr p{
	color:#999;
	line-height:1.5em;
}
.con-grid-w3l-leftr a{
	color:#999;
	text-decoration:none;
	font-size:14px;
}
.con-grid-w3l-leftr a:hover{
	color:#e00681;
}
.map iframe {
    width: 100%;
    border: none;
    margin-top: 5em;
    min-height: 400px;
}
.w3l_contact-bottom {
    background: #111;
    padding: 5em 0;
}
/*-- //contact --*/
/*-- gallery --*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;	
	overflow: hidden;
	margin: 10px 0;
	height: auto;
	text-align: center;
	cursor: pointer;
	background: #000;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-size: 1.5em;
    margin-top: 18%;
    color: #FFF;
    font-weight: 600;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	    background: rgba(30, 28, 24, 0.41);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	    border-right: 4px solid #e00681;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
/*-- //gallery --*/
.priceing-table-main {
    margin: 4em 0 0 0;
}
.price-list ul {
    padding: 0px;
    list-style: none;
}
.price-gd-top {
    background:#e00681;
    text-align: center;
}
.price-gd-top h4 {
    font-size: 1.8em;
    color: #fff;
    padding: 0.4em 1em;
        background: #0e99ce;
	    font-weight: 300;
}
.price-gd-top h3 {
    padding:0.2em 0em 0.1em 0em;
    font-size:2.5em;
    color: #fff;
}
.price-gd-top h5 {
    font-size: 1em;
    color: #fff;
    padding: 0.2em 0em 0.8em 0em;
}
.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1em 0em;
}
.price-gd-top.pric-clr2 h4 {
    background: #d4b906;
}
.price-gd-top.pric-clr2 {
    background: #ecce04
}
.price-selet.pric-sclr2 a {
    background:#ecce04
}
.price-gd-top.pric-clr3 {
	background:#e00681;
}
.price-gd-top.pric-clr3 h4 {
       background: #209a20;
}
.price-gd-top.pric-clr4 {
	background:#f5812e;
}
.price-gd-top.pric-clr4 h4 {
	    background: #d62c2c;
}
.price-selet.pric-sclr4 a {
    background:#f5812e;
}
.price-selet.pric-sclr3 a {
    background:#e00681;
}
.price-list ul li {
	    padding: 0.5em 0em;
    font-size: 0.9em;
    color: #999999;
    border-bottom: 1px dotted #ddd;
}
.price-selet {
    padding: 1em 0em;
    text-align: center;
    background: #fff;
}
.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}
.price-selet a {
	font-size: 0.9em;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em 2em;
    background: #e00681;
    text-decoration: none;
	    border-radius: 25px;
		-webkit-border-radius: 25px;
		-o-border-radius: 25px;
}
.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.price-block:hover,.w3layouts-pricing:hover,.w3-agileits-vpn-grid:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}
/*-- social-icons --*/
ul.top-links li {
    margin-right: 19px;
    display: inline-block;
}
ul.top-links {
    margin-top:70px;
    margin-left: 31px;
}
ul.top-links li a i.fa {
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
}
ul.top-links li a i.fa:hover {
   color: #7ab800;
}
.w3_navigation {
      background: #0085c3;
    padding: 0.5em 0;
}
.slider-info h3 {
      font-size: 18em;
    color: #fff;
    letter-spacing: 8px;
}
/*-- //social-icons --*/
/*--team--*/
.team-grids {
    text-align: center;
	overflow:hidden;
}
.team-grids h4 {
    font-size: 1.4em;
    color: #fff;
    margin: .5em 0;
    font-weight: 300;
    letter-spacing: 2px;
}
.team-grids h6 {
    font-size: 1.1em;
    color: #FFF;
}
.team-img {
    position: relative;
}
.team-row p {
    color: #fff;
}
.team-grids .captn {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.59);
    width: 100%;
    height: 100%;
    padding: 3.5em 1em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.team p span {
    color: #F6D13B;
}
.social-icons {
    margin-top: 2em;
}
.social-icons ul li {
    display: inline-block;
    margin: 0 0.2em;
}
.social-icons ul li a {
    /*background: url(../images/social-icons.png) no-repeat 0px -1px;*/
    display: block;
    height: 26px;
    width: 26px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.social-icons ul li a.pin {
    background-position: 0px -28px;
}
.social-icons ul li a.in {
    background-position: 0px -57px;
}
.social-icons ul li a.be {
    background-position: 0px -86px;
}
.social-icons ul li a.you {
    background-position: 0px -115px;
}
.social-icons ul li a.vimeo {
    background-position: 0px -144px;
}
.social-icons ul li a:hover{
	-webkit-transform:rotateY(360deg);
	transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
}
.team-grids:hover .captn {
    top: 0;	
}
.team-agile {
    background: #e00681;
    padding: 0.5em 1.5em;
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 15%;
}
.book-form input[type="text"], .book-form input[type="email"], .book-form input[type="password"] {
       width: 99%;
    color: #555;
    outline: none;
    font-size:0.9em;
    padding: .6em 1em;
       border: 1px solid #ddd;
    -webkit-appearance: none;
    margin-bottom: 1.5em;
    line-height: 1.8em;
	    letter-spacing: 1px;
}
.book-form input[type=submit] {
    color: #FFFFFF;
       padding: .8em 1em;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    border-radius: 25px;
      background: #e00681;
    width: 100%;
    letter-spacing: 3px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.book-form input[type=submit]:hover {
      background: #e00681;
    color: #fff;
}
.check-box input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 0.9em;
   color: #555;
    font-weight: 400;
    cursor: pointer;
}
.check-box {
    margin-bottom: 1.5em;
}
.check-box input[type="checkbox"] {
    display: none;
}
.check-box input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
.check-box input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #555;
    position: absolute;
    left: 0;
    top: 1px;
}
/*--//team--*/
/*-- /single --*/
.single.video_agile_player h4 {
	    font-size: 1.1em;
    margin: 0;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fe423f;
    margin:1em 0;
}
.single.video_agile_player p {
    color: #555;
       font-size: 0.9em;
    line-height: 1.9em;
    margin: 0.5em 0 1em 0;
}
.agile-info-wthree-box input[type="text"],.agile-info-wthree-box input[type="email"],.agile-info-wthree-box textarea {
     outline: none;
    border: 1px solid #d6d4d4;
    background: none;
    padding: 13px 13px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
}
.agile-info-wthree-box input[type="email"]:nth-child(2) {
    margin: 1em 0;
}
.agile-info-wthree-box textarea {
	    min-height: 110px;
    margin-bottom: 6px;
}
.agile-info-wthree-box input[type="submit"] {
	    outline: none;
    font-style: normal;
    padding: 0.9em 4em;
    background: #e00681;
    font-size: 16px;
    color: #fff;
    display: block;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    border-radius: 25px;
}
.agile-info-wthree-box input[type="submit"] :hover {
    color: #fff;
    background: #fe423f;
}
.form-info {
    padding-left: 0;
}
.all-comments-info {
    padding: 2em;
    border: 1px solid#ddd;
    margin: 2em 0;
}
.all-comments-info h5,.single-agile-shar-buttons h5{
	 font-size: 1em;
    margin: 0;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
    color:#0c0d0d;
    margin:0em 0 1em 0;
}
/*-- single --*/
.admin-text {
	    border: 1px solid #fff;
    padding: 2em;
    margin-top: 2em;
    background: #e00681;
}
.admin-text h5 {
	    font-size: 1.3em;
    letter-spacing: 1px;
    margin: 0 0 1em 0;
    color: #fff;
}
.admin-text-right p {
      color: #094e09;
    font-size: 0.9em;
    margin: 0 0 18px;
    line-height: 28px;
}
.admin-text-left {
	float: left;
	width: 11%;
}
.admin-text-right {
	float: right;
	width: 86%;
}
.admin-text-left img {
    width: 100%;
}
.admin-text-right span {
      font-size: 15px;
    margin: 0 0 1em 0;
    font-weight: 500;
   color: #ffffff;
	letter-spacing:1px;
}
.admin-text-right span a {
    color: #0c0d0d;
    text-decoration: none;
}
.admin-text-right span a:hover{
	color: #fff;
	transition:.5s all;
}
.media.response-info {
  margin-top: 3em;
}
.response-info-mdl {
  margin: 1em 0px 1em 4em;
}
.response {
    margin: 3em 0;
}
.media-left.response-text-left {
  width: 11%;
}
.response-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 1em 0;
	color: #fff;
}
.response h4 {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 0 0 1em 0;
    color: #0c0d0d;
    text-transform: uppercase;
}
.response-text-left h5 a {
	    text-decoration: none;
    color: #0c0d0d;
    text-transform: uppercase;
    font-size: 0.95em;
}
.response-text-left h5 a:hover{
	text-decoration: none;
    color: #fe423f;
	transition:.5s all;
}
.response-text-left h5{
	font-size: 17px;
    margin: 1em 0 0 0;
}
.response-text-right p{
	    color: #555;
    margin: 0 0 15px;
    line-height: 1.9em;
}
.wom-right p {
	 font-size: 0.85em;
	  margin: 0 0 8px;
	  margin-top: 0.6em;
	    line-height: 1.8em;
		   color: #555;
}
.response-text-right ul{
	padding:0;	
	text-align: right;
}
.response-text-right ul li{
      display: inline-block;
    color: #0c0d0d;
    font-size: 1em;
    margin-right: 1em;
    letter-spacing: 1px;
}
.response-text-right ul li a{
	    color: #e00681;
    font-size: 1em;
}
.response-text-right ul li a:hover{
	color: #f5812e;
	text-decoration:none;
}
.media-left a img {
  width: initial;
}
.w3l-blog-list li, .blog-list1 li {
    list-style: none;
}
.w3l-blog-list li a:hover {
    color: #111;
}
.response-text-right ul {
    padding: 0;
    text-align: left;
}
.single.video_agile_player h4 {
    font-size: 1em;
}
.media-left, .media-right, .media-body {
    display: block!important;
    vertical-align: top;
}

.w3l-blog-list li a {
  color: #555;
    font-size:0.85em;
    text-decoration: none;
    display: block;
    margin: 12px 0;
}
.w3l-blog-list {
    margin-top: 1.3em;
}
.w3l-blog-list i {
    color: #e00681;
    margin-right: 12px;
}
/*-- //single --*/
.w3agile_footer_copy {
    text-align: center;
    background: #e00681;
    padding: 1em 0;
}
.w3agile_footer_copy p {
    color: #fff;
}
/*-- Footer --*/
.w3l-footer {
	background-color: #212121;
}
.footer-info-agile {
	margin-top: 50px;
}
.w3l-footer  h4 {
	color: #fff;
    padding: 24px 0 10px 0;
	    font-weight: 300;
	font-size:1.4em;
	margin-bottom: 0.8em;
	letter-spacing: 1px;
}
.connect-agileits.newsletter h4 {
    font-size: 1.5em;
	letter-spacing: 1px;
}
.footer-info-agile li {
    color: #fff;
    display: block;
    line-height: 1.9em;
    font-size: 0.9em;
}
.links a {
	color: #fff;
}
.links a:hover {
	color: #FFF;
	text-decoration: underline;
}
a.mail {
    color: #e00681;
}
a.mail:hover {
    color:#e00681;
}
.connect-agileits.newsletter p {
    color: #999;
	margin-bottom: 8px;
}

/*-- Newsletter --*/
.footer-info-agile p {
	    color: #EEE;
    line-height: 2em;
    margin-bottom: 27px;
    text-align: left;
}
.newsletter {
	    position: relative;
	    padding: 0.5em 1em;
}
.newsletter input[type="email"] {
      padding: 0.8em 1.5em;
    border: 1px solid #3a3939;
    width: 75%;
    text-align: left;
    color: #212121;
    background: #fff;
    outline: none;
    float: left;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
}
.newsletter  input[type="submit"] {
    background: #e00681;
    padding: 0.8em 1em;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 20%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
	    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
}
.newsletter input[type="submit"]:hover {
    background: #e00681;
}
.footer-grid-instagram a {
    float: left;
}
/*-- //Newsletter --*/
/*-- Footer-Social-Icons --*/
.connect-agileits{
    padding-bottom: 22px;
    text-align: center;
    border: 1px solid #515254;
    margin: 2em auto 3em;
    width: 97%;
}
.connect-agileits h4 {
	text-align: center;
}
.connect-social ul li {
	display: inline-block;
}

.connect-social ul li a{
	    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.social{
    position:relative;
    margin: 10px auto 3px;
}
.social a{
    position: relative;
    display: inline-block;
    width:34px;
    height:34px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}
.social .fb{
    background: #6788ce;
}
.social .fb:before,
.social .fb:after{
    border-color:#6788ce;
}
.social .tw{
    background: #00ACEE;
}
.social .tw:before,
.social .tw:after{
    border-color: #00ACEE;
}

.social .gp{
    background: #DD4B39;
}
.social .gp:before,
.social .gp:after
{
    border-color: #DD4B39;
}
.social .pin{
    background: #fe4445;
}
.social .pin:before,
.social .pin:after
{
    border-color: #fe4445;
}
.social .db{
    background: #f85993;
}
.social .db:before,
.social .db:after
{
    border-color: #f85993;
}
.social .rss{
    background: #ff9845;
}
.social .rss:before,
.social .rss:after
{
    border-color: #ff9845;
}
.social .lin{
    background: #3a9bdc;
}
.social .lin:before,
.social .lin:after
{
    border-color: #3a9bdc;
}
.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
       border: 3px solid;
}
.social a:hover:after{
   -webkit-transform: scale(1.5);
}
.social a:hover:before{
    -webkit-transform: scale(1);
    transition: .3s all;
    opacity: 0;
}
a.icon.gp {
    margin: 0;
} 
.connect-social ul li a i {
     color: #fff;
    line-height: 34px;
    font-size: 1em;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.footer-grid-instagram {
    float: left;
    width: 50%;
}
.w3agile_footer_copy p a {
    color: #fff;
}
/*-- Footer-Social-Icons --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width:34px;
    height:34px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*-- /responsive --*/
@media (max-width:1440px){
	.baner-info h3 {
		font-size: 3.3em;
		letter-spacing: 4px;
	}
	.baner-info {
		padding-top: 11em;
		margin: 0 auto;
	}
	h3.tittle, h2.w3l-inner-h-title, h3.w3l-inner-h-title {
      font-size: 2em;
	}
	h3.tittle.fea {
      font-size: 2em;
	}
	.special, #news, .w3_content_agilleinfo_inner, .team-section, .plans-section {
		padding: 4em 0;
	}
	/*ul.nav.navbar-nav {
		margin-left: 17em;
		margin-top: 2em;
	}*/
	.baner-info h4 {
		letter-spacing: 8px;
	}
}
@media (max-width:1366px){
	.cd-header-buttons {
		position: absolute;
		display: inline-block;
		top: -75px;
		right: 0;
	}
	.baner-info h4 {
		font-size: 1em;
		color: #fff;
		margin: 2em 0 3em 0;
		letter-spacing: 8px;
	}
}
@media (max-width:1280px){
	.baner-info h3 {
		font-size: 3em;
		letter-spacing: 4px;
	}
	.baner-info h4 {
		font-size: 0.9em;
		color: #fff;
		margin: 2em 0 3em 0;
		letter-spacing: 8px;
	}
	h3.tittle, h2.w3l-inner-h-title, h3.w3l-inner-h-title {
		font-size: 2.3em;
	}
	h3.tittle.fea {
		font-size: 1.8em;
	}
	.spa-agile h4 {
      font-size: 1.1em;
	}
	.special, #news, .w3_content_agilleinfo_inner, .team-section, .plans-section,.w3l_contact-bottom {
		padding: 3em 0;
	}
	.priceing-table-main {
		margin: 2em 0 0 0;
	}
	.team-row {
		margin-top: 2em;
	}
	h2.w3l-inner-h-title, h3.w3l-inner-h-title {
		margin-bottom: 0.5em;
	}
	ul.nav.navbar-nav {
		margin-left: 13em;
		margin-top: 2em;
	}
	.special-grids {
		margin: 2em 0 0 0;
	}

}
@media (max-width:1080px){
	ul.nav.navbar-nav {
		margin-left: 6em;
		margin-top: 2em;
	}
	.ab-w3l-spa p {
		color: #555;
		line-height: 2.2em;
		margin: 1.5em auto 2.2em;
		width: 96%;
	}
	.agileits-special-info {
       padding: 3em 1em;
	}
	.welcome-agileinfo h4 {
		font-size: 1.2em;
		margin: 1em 0 0.5em 0;
		letter-spacing: 3px;
		font-weight: 300;
	}
	.price-gd-top h4 {
		font-size: 1.5em;
		padding: 0.4em 1em;
	}
	ul.top-links li {
		margin-right: 7px;
		display: inline-block;
	}
	ul.top-links {
		margin-top: 35px;
		margin-left: 0px;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 188px;
		height: 186px;
	}
	.con-ions-left-w3l {
		float: left;
		width: 49px;
		height: 49px;
	}
	.con-grid-w3l-leftr {
		float: right;
		width: 75%;
		text-align: left;
	}
	.con-ions-left-w3l i {
		font-size: 1em;
		line-height: 3em;
	}
	.spa-agile h4 {
		font-size: 1em;
	}
	h2.tittle {
       font-size: 2.3em;
	}
}
@media (max-width:1024px){
	
	.navbar-nav > li {
		margin: 0 0.3em;
	}
	.price-gd-top h5 {
		font-size: 0.9em;
		padding: 0.2em 0em 0.8em 0em;
	}
	.baner-info {
		padding-top: 8em;
		margin: 0 auto;
	}
	ul.top-links {
		margin-top: 35px;
		margin-left: 5px;
	}
	.baner-info h3 {
		font-size: 2.8em;
		letter-spacing: 4px;
	}
	
}
@media (max-width:991px){
	.spa-grid:nth-child(5),.spa-grid:nth-child(3) {
		border: none;
	}
	.spa-grid {
		border-right: 1px solid #999;
		float: left;
		width: 50%;
	}
	.spa-grid.lost {
		margin-top: 2em;
	}
	.team-grids {
		text-align: center;
		overflow: hidden;
		float: left;
		width: 32%;
	}
	.team-grids:nth-child(4) {
		 margin-top:1.5em;
	}
	.welcome-grid {
		margin-top: 2em;
		float: left;
		width: 50%;
	}
	.welcome-agileinfo span.glyphicon {
      font-size: 2.5em;
	}
	.welcome-section-wthree {
		min-height: 557px;
		padding-top: 4em;
	}
	.price-grid {
		float: left;
		width: 50%;
		 
	}
	.priceing-table-main {
		margin:2em 0 0 0;
	}
	.col-md-3.price-grid.lost {
		margin-top: 2em;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 184px;
		height: 186px;
	}
	.w3l-special-grid {
		padding: 0;
		float: left;
		width: 50%;
	}
	.w3ls-special-text h4 {
		font-size: 1.5em;
		margin: 0;
		font-weight: 300;
		letter-spacing: 7px;
		padding-top: 4em;
	}
	.section-grid-wthree {
		padding: 0 7px;
		float: left;
		width: 50%;
	}
	.section-grid-wthree:nth-child(3) {
		margin-top:2em;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 310px;
		height: 186px;
	}
	.footer-grid-instagram {
		float: left;
		width: 24%;
	}
	.connect-agileits {
		padding-bottom: 22px;
		margin: 2em auto 3em;
		width: 100%;
	}
	.gallery-grid {
		float: left;
		width: 50%;
	}
	.con-ions-left {
		float: left;
		width: 100%;
		margin: 10px 10px;
		padding: 30px 20px;
	}
	.services-info-w3-agileits:after {
		content: "";
		position: absolute;
		left: 182px;
		top: 267px;
		width: 25px;
		height: 25px;
	}
	.map iframe {
      margin-top: 3em;
	}
	.form-info {
		padding-left: 0;
		margin-top: 1em;
	}
}
@media (max-width:800px){
	.navbar-default .navbar-nav > li > a {
      font-size: 0.8em;
	}
	ul.nav.navbar-nav {
		margin-left: 2em;
		margin-top: 2em;
	}
	.inner-header-agile {
    padding: 0 2em;
	}
	.icon-box {
		padding: 8px 15px;
		margin: 1em 0 1em 0;
		width: 50%;
	}
	.footer-info-agile {
		margin-top: 18px;
	}
	h3.agileits-icons-title {
		text-align: center;
		font-size: 27px;
	}
	.baner-info h3 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	.baner-info h4 {
		font-size: 0.9em;
		margin: 1.5em 0 2.5em 0;
		letter-spacing: 6px;
	}
	.baner-info {
		padding-top: 5em;
		margin: 0 auto;
	}
}
@media (max-width:768px){
	.newsletter input[type="email"] {
		padding: 0.8em 1.2em;
		border: 1px solid #3a3939;
		width: 69%;
	}
	.newsletter input[type="submit"] {
		padding: 0.8em 1em;
		width: 29%;
	}
}
@media (max-width:767px){
	.header {
		padding: 1.5em 1.5em 0;
	}
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		margin-left: 42%;
	}
	.navbar-default .navbar-nav > li > a { 
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #000;
	}
	.navbar-default .navbar-toggle {
		border-color: #f5812e;
		background: #f5812e;
		margin: 32px 10px 0 0px;
		}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #ff8c00;
	}
	.navbar-default .navbar-nav > li > a:before { 
		width: 0; 
	}
	.navbar-default .navbar-nav > li > a { 
		padding: 0.8em;
	}
	.navbar-nav > li {
		margin: 0;
	}
	div#bs-example-navbar-collapse-1 {
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		margin-top:0.5em;
		text-align: center!important;
	}
	.navbar-default .navbar-nav > li > a:before {
		width: 0;
		display:none;
	}
	.navbar-default .navbar-nav > li > a {
       font-size: 0.9em;
	}
	ul.multi-column-dropdown {
		text-align: center;
	}
	ul.dropdown-menu.multi-column ul li a{
		 color:#fff;
	}
	ul.nav.navbar-nav {
		margin-left: 0;
		margin-top: 1.7em;
		margin: 0 !important;
	}
	ul.dropdown-menu.multi-column {
		left: 0;
		padding: 0.5em;
		width: 100%;
		background: #000;
	}
	.navbar-nav > li {
		float: none;
		border-right:none;
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		    background: #0c0d0d;
			padding: 10px 0;
	}
	.navbar-nav .open .dropdown-menu {
	    background-color: #333;
	}
	ul.dropdown-menu.multi-column {
		text-align: center;
		float: none;
		width: 100%;
	}
	.navbar {
		width: 93%;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		    padding: 14px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0px!important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #e00681!important;
		background-color: #e00681!important;
		border-color:#e00681!important;
	}
	.navbar-header h1 {
		font-size: 1.8em;
		text-align: left;
	}
	.cd-header-buttons {
		position: absolute;
		display: inline-block;
		top: -71px;
		right: 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color:#f5f5f5!important;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #f5f5f5;
		white-space: nowrap;
		text-align: center;
	}
	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		color:#e00681!important;
		
	}
	h3.tittle, h2.w3l-inner-h-title, h3.w3l-inner-h-title {
		font-size: 2em;
	}
	h2.tittle {
       font-size: 2em;
	}
	h3.tittle.fea {
		font-size: 1.6em;
		margin-bottom: 1.5em;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 259px;
		height: 186px;
	}
	.welcome-section-wthree {
		min-height: 612px;
		padding-top: 4em;
	}
	ul.top-links li {
		margin-right: 0px;
		display: inline-block;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #333;
		text-align: center!important;
	}
}
@media (max-width:736px){
	.label {
		display: inline;
		padding: .2em .3em .2em;
		font-size: 48%;
	}
}
@media (max-width:667px){
	.news-grids {
		margin-top: 2em;
	}
}
@media (max-width:640px){
	.navbar {
		width: 90%;
	}
	.baner-info h3 {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.baner-info h4 {
		font-size: 0.8em;
		margin: 1.5em 0 2em 0;
		letter-spacing: 4px;
	}
	a.w3_play_icon1 {
		background: #e00681;
		padding: 0.6em 1.3em 0.6em 1.3em;
		letter-spacing: 1px;
		font-size: 0.9em;
	}
	.w3ls-special-text h4 {
		font-size: 1.5em;
		margin: 0;
		font-weight: 300;
		letter-spacing: 7px;
		padding-top: 4.5em;
	}
	.section-grid-wthree {
		padding: 0 7px;
		float: left;
		width: 100%;
	}
	.services-info-w3-agileits:after {
		content: "";
		position: absolute;
		left: 266px;
		top: 195px;
		width: 25px;
		height: 25px;
	}
	.footer-info-grid {
		width: 100%;
		    padding: 0;
	}
	.team-grids {
		text-align: center;
		overflow: hidden;
		float: left;
		width: 47%;
		margin: 0% 1%;
	}
	.team-grids:nth-child(3),.team-grids:nth-child(4) {
		margin-top: 1.5em;
	}
	.w3_agile_mail_grid textarea {
		min-height:150px;
		font-weight: 400;
	}
	.modal-dialog {
		width: 536px;
		margin: 46px auto;
	}
}
@media (max-width:568px){
	.special, #news, .w3_content_agilleinfo_inner, .team-section, .plans-section, .w3l_contact-bottom {
		padding: 2.5em 0;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 210px;
		height: 186px;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		    width: 211px;
		height: 186px;
	}
	.newsletter input[type="email"] {
		padding: 0.8em 1.2em;
		border: 1px solid #3a3939;
		width: 100%;
		margin-bottom: 1em;
	}
	.newsletter input[type="submit"] {
		padding: 0.8em 1em;
		width: 41%;
	}
	.map iframe {
		margin-top: 2em;
		min-height: 200px;
	}
	.icon-box {
		padding: 8px 15px;
		margin: 1em 0 1em 0;
		width: 100%;
	}
	
}
@media (max-width:480px){
	.newsletter input[type="email"] {
		padding: 0.8em 1.2em;
		border: 1px solid #3a3939;
		width: 100%;
		margin-bottom: 1em;
	}
	.newsletter input[type="submit"] {
		padding: 0.8em 1em;
		width: 41%;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 165px;
		height: 186px;
	}
	.price-gd-top h3 {
		padding: 0.2em 0em 0.1em 0em;
		font-size: 2em;
		color: #fff;
	}
	.inner-header-agile {
		padding: 0 1em;
	}
	.navbar-header h1 {
		font-size: 1.6em;
		text-align: left;
	}
	.navbar-header h1 a {
		color: #FFFFFF;
		text-decoration: none;
		display: inline-block;
		line-height: 54px;
		font-weight: bold;
		padding-bottom: 24px;
	}
	.navbar-default .navbar-toggle {
		margin: 15px 10px 0 0px;
	}
	.cd-header-buttons {
		position: absolute;
		display: inline-block;
		top: -61px;
		right: 0;
	}
	.baner-info h3 {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.baner-info {
		padding-top: 3em;
		margin: 0 auto;
	}
	.welcome-agileinfo h4 {
		font-size: 1em;
		margin: 0.5em 0 0.5em 0;
		letter-spacing: 3px;
		font-weight: 300;
	}
	.welcome-grid {
		margin-top: 1em;
		float: left;
		width: 100%;
	}
	.welcome-section-wthree {
		min-height: 605px;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	.welcome-agileinfo {
		text-align: center;
		padding-top: 1em;
	}
	.media.response-info {
		margin-top: 1em;
	}
	.response h4 {
      font-size: 1.2em;
	}
	.con-ions-left {
		float: left;
		width: 95%;
		margin: 10px 10px;
		padding: 30px 20px;
	}
	h3.icon-subheading {
       font-size: 21px;
	}
	.modal-dialog {
		width: 410px;
		margin: 96px auto;
	}
	div#myModal1 {
		padding-right: 0px!important;
	}
	.agileits-special-info h4 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	.grid figure {
    position: relative;
    overflow: hidden;
    margin: 5px 0;
	}
	.news-grids {
		margin-top: 1em;
	}
	.admin-text h5 {
		font-size: 1em;
	}
	.latest-news-agile-left-content {
		padding: 0;
	}
	.admin-text-left {
		float: none;
		width: 41%;
	}
	.admin-text-right p {
		font-size: 0.85em;
		margin: 0 0 18px;
		line-height: 28px;
	}
	.admin-text-right {
		float: right;
		width: 100%;
		margin-top: 0.5em;
	}
	.latest-news-agile-right-content {
		padding: 0;
	}
	.response-text-right ul li {
		font-size: 0.9em;
	}
	.response-text-right ul li {
		display: inline-block;
		color: #0c0d0d;
		font-size: 0.9em;
	}
	h4.side-t-w3l-agile {
		color: #0c0d0d;
		font-size: 1.1em;
	}
	.wom-right h5 a {
        font-size: 15px;
	}
	.w3l-footer h4 {
		padding: 24px 0 10px 0;
		font-size: 1.2em;
		margin-bottom: 0.5em;
		letter-spacing: 1px;
	}
	.footer-grid {
		padding: 0;
	}
	.all-comments-info {
       padding: 1em;
	}
	.connect-agileits {
		margin: 2em auto 2em;
		width: 100%;
	}
	.modal-dialog {
		width:400px;
		margin: 96px auto;
	}
	.modal-header h4 {
      font-size: 1.4em;
	}
	.dropdown-menu {
		position: none!important;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: none;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
	    background-color: #1f1d1d!important;
       font-size: 14px;
	}
}
@media (max-width:414px){
	.special, #news, .w3_content_agilleinfo_inner, .team-section, .plans-section, .w3l_contact-bottom {
		padding: 2em 0;
	}
	.baner-info h3 {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	.baner-info h4 {
		font-size: 0.8em;
		margin: 1em 0 1.5em 0;
		letter-spacing: 4px;
		line-height: 1.8em;
	}
	h3.tittle, h2.w3l-inner-h-title, h3.w3l-inner-h-title {
		font-size: 1.6em;
	}
	h2.tittle {
       font-size:1.6em;
	}
	.w3ls-special-text h4 {
		font-size: 1.3em;
		letter-spacing: 7px;
		padding-top: 5em;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 137px;
		height: 186px;
		top: 25px;
		left: 23px;
	}
	.price-grid {
		float: left;
		width: 100%;
		 margin-bottom:1.5em;
	}
	.price-grid.lost {
		margin-top:0em!important;
	}
	.team-grids {
		text-align: center;
		overflow: hidden;
		float: left;
		width: 77%;
		margin: 0% 11%;
	}
	.team-grids:nth-child(3), .team-grids:nth-child(4),.team-grids:nth-child(2) {
		margin-top: 1.5em;
	}
	.gallery-grid {
		float: left;
		width: 50%;
		padding: 0 5px;
	}
	.w3_agile_mail_grid {
		margin-top: 1.2em;
		padding: 0;
	}
	.navbar-default .navbar-toggle {
		margin: 15px 12px 0 0px;
	}
	.services-info-w3-agileits:after {
		content: "";
		position: absolute;
		left: 171px;
		top: 264px;
		width: 25px;
		height: 25px;
	}
	.team-row {
		margin-top: 1em;
	}
	figure.effect-apollo p {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 2em;
   }
  .grid figure p {
		letter-spacing: 1px;
		font-size: 60.5%;
	}
	.single.video_agile_player h4 {
		font-size: 0.9em;
	}
	.single.video_agile_player p {
		color: #555;
		font-size: 0.85em;
	}
	.modal-dialog {
		width: 364px;
		margin: 96px auto;
	}
}
@media (max-width:384px){
	a.w3_play_icon1 {
		background: #e00681;
		padding: 0.5em 1.2em 0.5em 1.2em;
		letter-spacing: 1px;
		font-size: 0.8em;
	}
	.baner-info h3 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.navbar-default .navbar-toggle {
		margin: 15px 16px 0 0px;
	}
	.newsletter input[type="submit"] {
		padding: 0.8em 1em;
		width: 53%;
	}
	.baner-info {
		padding-top: 1em;
		margin: 0 auto;
	}
	h3.tittle, h2.w3l-inner-h-title, h3.w3l-inner-h-title {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	h2.tittle {
       font-size:1.4em;
	}
	.spa-agile h4 {
		font-size: 0.9em;
	}
	h3.tittle.fea {
		font-size: 1.2em;
		margin-bottom: 1.3em;
	}
	.w3l-special-grid {
		padding: 0;
		float: left;
		width: 100%;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 290px;
		height: 186px;
		top: 25px;
		left: 23px;
	}
	.typo-1 {
		padding: 0;
	}
	.special, #news, .w3_content_agilleinfo_inner, .team-section, .plans-section, .w3l_contact-bottom {
		padding: 1.5em 0;
	}
}
@media (max-width:375px){
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 281px;
		height: 186px;
		top: 25px;
		left: 23px;
	}
	.baner-info h3 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.grid figure p {
		letter-spacing: 1px;
		font-size: 54.5%;
	}
	.ab-w3l-spa p {
		line-height: 1.9em;
		margin: 1em auto 1.5em;
		width: 100%;
	}
	.spa-agile i {
       font-size: 2em;
	}
	h5.sub-title {
    font-size: 17px;
	}
	.para-w3 {
		font-size: 14px;
		line-height: 29px;
		margin-top: 11px;
	}
	.social a {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		text-align: center;
		margin-right: 14px;
	}
		.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 0 5px !important;
		font-size: 0.85em;
		color: #999;
		border-top: none !important;
	}
	.w3_agile_mail_grid input[type="submit"] {
		border: none;
		padding: 0.6em 2em;
	}
}
@media (max-width:320px){
	.navbar-default .navbar-toggle {
		margin: 15px 22px 0 0px;
	}
	.baner-info h4 {
		font-size: 0.75em;
		margin: 1em 0 1.5em 0;
		letter-spacing: 4px;
		line-height: 1.8em;
	}
	.spa-agile h4 {
		font-size: 0.9em;
		letter-spacing: 1px;
	}
	.special.featured {
		padding: 2em 0 1px 0;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 226px;
		height: 186px;
		top: 25px;
		left: 23px;
	}
	.grid_3 {
  
    padding: 0.5em;
	}
	
	.newsletter {
		position: relative;
		padding: 0.5em 0.5em;
	}
	.newsletter input[type="submit"] {
		padding: 0.8em 1em;
		width: 66%;
	}
	.baner-info h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.baner-info {
		padding-top: 1.8em;
		margin: 0 auto;
	}
	.services-info-w3-agileits {
		position: relative;
		padding: 20px 20px;
	}
	.services-info-w3-agileits:after {
		content: "";
		position: absolute;
		left: 123px;
		top: 198px;
		width: 25px;
		height: 25px;
	}
	.w3agile_footer_copy p {
		font-size: 13px;
		line-height: 1.9em;
		padding: 0 3px;
	}
	.modal-dialog {
		width: 288px;
		margin: 36px auto;
	}
}
/*-- //responsive --*/