
.login-wrap{
	width:100% !important;
	margin:auto !important;
	max-width:525px !important ;
	min-height:670px !important ;
	position:relative !important ;
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center !important ; */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19) !important ;
}
.login-html{
	width:100% !important ;
	height:100% !important ;
	position:absolute !important ;
	padding:90px 70px 50px 70px !important ;
	background:rgba(40,57,101,.9) !important ;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0 !important ;
	left:0 !important ;
	right:0 !important ;
	bottom:0 !important ;
	position:absolute !important ;
	-webkit-transform:rotateY(180deg) !important ;
	        transform:rotateY(180deg) !important ;
	-webkit-backface-visibility:hidden !important ;
	        backface-visibility:hidden !important ;
	-webkit-transition:all .4s linear !important ;
	transition:all .4s linear !important ;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none !important ;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase !important ;
}
.login-html .tab{
	font-size:22px !important ;
	margin-right:15px !important ;
	padding-bottom:5px !important ;
	margin:0 15px 10px 0 !important ;
	display:inline-block !important ;
	border-bottom:2px solid transparent !important ;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff !important ;
	border-color:#1161ee !important ;
}
.login-form{
	min-height:345px !important ;
	position:relative !important ;
	-webkit-perspective:1000px !important ;
	        perspective:1000px !important ;
	-webkit-transform-style:preserve-3d !important ;
	        transform-style:preserve-3d !important ;
}
.login-form .group{
	margin-bottom:15px !important ;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100% !important ;
	color:#fff !important ;
	display:block !important ;
}
.login-form .group .input,
.login-form .group .button{
	border:none !important ;
	padding:15px 20px !important ;
	border-radius:25px !important ;
	background:rgba(255,255,255,.1) !important ;
}
.login-form .group input[data-type="password"]{
	text-security:circle !important ;
	-webkit-text-security:circle !important ;
}
.login-form .group .label{
	color:#aaa !important ;
	font-size:12px !important ;
	text-align: left !important;
}
.login-form .group .button{
	background:#1161ee !important ;
}
.login-form .group label .icon{
	width:15px !important ;
	height:15px !important ;
	border-radius:2px !important ;
	position:relative !important ;
	display:inline-block !important ;
	background:rgba(255,255,255,.1) !important ;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'' !important ;
	width:10px !important ;
	height:2px !important ;
	background:#fff !important ;
	position:absolute !important ;
	-webkit-transition:all .2s ease-in-out 0s !important ;
	transition:all .2s ease-in-out 0s !important ;
}
.login-form .group label .icon:before{
	left:3px !important ;
	width:5px !important ;
	bottom:6px !important ;
	-webkit-transform:scale(0) rotate(0) !important ;
	        transform:scale(0) rotate(0) !important ;
}
.login-form .group label .icon:after{
	top:6px !important ;
	right:0 !important ;
	-webkit-transform:scale(0) rotate(0) !important ;
	        transform:scale(0) rotate(0) !important ;
}
.login-form .group .check:checked + label{
	color:#fff !important ;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee !important ;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg) !important ;
	        transform:scale(1) rotate(45deg) !important ;
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg) !important ;
	        transform:scale(1) rotate(-45deg) !important ;
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0) !important ;
	        transform:rotate(0) !important ;
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0) !important ;
	        transform:rotate(0) !important ;
}

.hr{
	height:2px !important ;
	margin: 36px 0 24px 0 !important;
	background:rgba(255,255,255,.2) !important ;
}
.foot-lnk{
	text-align:center !important ;
}